# virtual env / python
venv
env
__pycache__

# NOTE:
# I'm ignoring the answer as it'll re-generate as soon as the next person spins up the docker environment.
# Why am I ignoring it? Because I'm wanting to simulate what it'd be like in a production environment, and
# in a prod env, this data would be stored in a database and we wouldn't store that in the repo.
top_100.txt

# other
*.DS_Store
.env